@model List<Ninja>

@{
    ViewData["Title"] = "Index";
    var halfCount = Model.Count / 2;
}

<h1>List of Ninja's</h1>

<form asp-action="Index" method="get" class="form-inline mb-2">
    <input type="text" name="searchQuery" class="form-control" placeholder="Search ninja by name..." value="@ViewData["SearchQuery"]" />
    <br />
    <button type="submit" class="btn btn-success">Search</button>
</form>
<button class="btn btn-success my-2" onclick="location.href='@Url.Action("Create", "Ninja")'">Create A Ninja</button>

<div class="row">
    <div class="col-md-6">
        @for (int i = 0; i <= halfCount; i++)
        {
            @if (Model.Count == 0)
            {
                <p><strong>No ninja's found with this name</strong></p>
            }
            else
            {              
                var ninja = Model[i];
                <div class="card mb-3">
                    <div class="card-body">
                        <p>Name: @ninja.Name</p>
                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Shop", new { id = ninja.Id })'">Shop</button>
                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Inventory", "Ninja", new { id = ninja.Id })'">Inventory</button>
                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Ninja", new { id = ninja.Id })'">Edit</button>
                        <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Ninja", new { id = ninja.Id })'">Delete</button>
                    </div>
                </div>
            }

        }
    </div>

    <div class="col-md-6">
        @for (int i = halfCount + 1; i < Model.Count; i++)
        {
            var ninja = Model[i];
            <div class="card mb-3">
                <div class="card-body">
                    <p>Name: @ninja.Name</p>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Shop", new { id = ninja.Id })'">Shop</button>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Inventory", "Ninja", new { id = ninja.Id })'">Inventory</button>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Ninja", new { id = ninja.Id })'">Edit</button>
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Ninja", new { id = ninja.Id })'">Delete</button>
                </div>
            </div>
        }
    </div>
</div>
